name: Run Python script twice per day (UK time)

on:
  schedule:
  - cron: "0 4 * * *"
  - cron: "0 11 * * *"
  - cron: "0 18 * * *"
  workflow_dispatch:        # allow manual run

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run the script
        env:
          api_bi: ${{ secrets.api_bi }}
          api_us: ${{ secrets.api_us }}
          api_vn: ${{ secrets.api_vn }}
          api_ky: ${{ secrets.api_ky }}
          dropbox_path: ${{ secrets.dropbox_path }}
          APP_KEY: ${{ secrets.APP_KEY }}
          APP_SECRET: ${{ secrets.APP_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          
        run: python 2025_11_22_tacticus_apis_v8.py
